{% extends 'portfolio/layout.html' %}
{% block title %}Contact Us{% endblock %}
{% block extra_css %}
{% endblock %}
{% block content %}
    <h1 class="text-center">Contact Us</h1>
    <p class="text-center">You can reach us at:</p>
    <ul class="list-unstyled">
    <li class="text-center">Email: contact@mywebsite.com</li>
    <li class="text-center">Phone: 123-456-7890</li>
    <li class="text-center">Address: 123 Main Street, City, State</li>
    </ul>
    {% endblock %}
    {% block extra_js %}
    {% endblock %}